body {
    background-color: aqua;
}

.ex1 {
    outline-style: solid;
    outline-width: 10px;
    outline-color: rgb(138, 138, 250);
    outline-offset: 10px;
    width: 400px;
    margin: 10px auto;
    border: 3px solid black;
    background-color: azure;
}