body {
    background-color: rgb(134, 134, 182);
}

.ex1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgb(182, 112, 112);
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: rgb(75, 115, 117);
    align-content: center;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    .ex1 {
        align-items: center;
        flex-direction: column;
    }
}