body {
    background-color: coral;
}

.bx-instagram-alt {
    color: blue;
    font-size: 100px;
}

.bx-whatsapp {
    color: blue;
    font-size: 100px;
}

.bx-roblox {
    color: blue;
    font-size: 100px;
}

.bx-lichess {
    color: blue;
    font-size: 100px;
}

