body {
    background-color: lemonchiffon;
}

.link:link {
    color: black;
    background-color: blue;
}

.link:visited {
    color: cyan;
    background-color: red;
}

.link:hover {
    color: violet;
    background-color: white;
}

.link:active {
    color: aqua;
    background-color: black;
}

.link-btn:link, .link:visited {
    /* background-color: midnightblue; */
    background-color: transparent;
    border: 3px solid midnightblue;
    color: white;
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.link-btn:hover, link-btn:active {
    background-color: midnightblue;
    color: white;
    border: 3px solid white;
    transition: .5s;
}