body {
    background-color: cornflowerblue;
}

.ex1 {
    background-color: bisque;
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 10px;
    padding-bottom: 20px;

}